<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <!-- Arm controllers -->
            <!-- <parameters>$(find articubot_one)/config/xarm_controllers.yaml</parameters> -->

            <!-- Chassis controllers -->
            <parameters>$(find articubot_one)/config/my_controllers.yaml</parameters>

            <!-- Common settings -->
            <parameters>$(find articubot_one)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>
</robot>